<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
        <h1>About</h1>


        <h4>ながのCAKEは全国発送可能なケーキ屋さんです。</h4>
        <h4>お子様からお年寄りの方までお召し上がりいただけるよう、</h4>
        <h4>様々なバリエーションをご用意しております。</h4>
        <h4>また、全国へ発送可能ですので「いつ」でも「どこ」でも注文いただけます。</h4>
        <h4>ぜひ注文ください。</h4>
    </div>
  </div>
</div>