<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="my-5">会員一覧</h3>
      <table class="table">
        <thead>
          <tr class="table-active">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @end_users.each do |end_user| %>
        <tbody>
          <tr>
            <td><%= end_user.id %></td>
            <td><%= link_to end_user.full_name, admin_customer_path(customer) %></td>
            <td nowrap><%= end_user.email %></td>
            <td>
              <% if end_user.is_deleted? %>
                <span class="text-secondary">退会</span>
              <% else %>
                <span class="text-success">有効</span>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>