

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="active text-center"><h5 class="genre_said">ジャンル検索</h5></th>
        </tr>
      </thead>
      <tbody>
        <% @categorys.each do |category| %>
          <tr>

            <td class="underline"><i class="fas fa-caret-right"> <%= link_to category.name, items_path(category_id: category.id) %></i></td>
          </tr>
        <% end %>
      </tbody>
    </table>